@using OnlineCampus.ViewModels
@model StudentDetailViewModel

<h1>Edit Student</h1>

<form asp-asp-controller="Student" asp-action="Edit" method="post">
    @Html.AntiForgeryToken()
    <div asp-asp-validation-summary="All" class="text-danger"></div>
    <input type="hidden" asp-for="StudentId" />
    <input type="hidden" asp-for="RowVersion" />

    <div class="form-group">
        <label asp-for="FirstName">FirstName</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="LastName">LastName</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>

    <button type="submit">Edit</button>
</form>